workflows:
  - ProductDiscoverySearch
  - ProductComparison
  - PricingPromotions
  - CartManagement
  - CheckoutPayments
  - ShippingDelivery
  - OrderStatusTracking
  - ReturnsRefunds
  - ReturnsRefundsExchanges
  - CancellationsModifications
  - ProductAvailability
  - AccountProfile
  - LoyaltyRewards
  - TrustSafetyFraud
